<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <appSettings/>
    <system.web>
        <compilation debug="false">
			<assemblies>
				<add assembly="System.Core, Version=0.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
        <authentication mode="Windows"/>
    </system.web>
</configuration>